<div class="flex flex-col gap-4 h-[calc(100dvh-160px)]">
  <div class="card rounded overflow-hidden mb-0!">
    <p-table #dt2 [value]="unidadesMedida" 
    [tableStyle]="{ 'min-width': '60rem' }"
    [globalFilterFields]="['descripcion', 'siglas']"
    [paginator]="true"
    [rows]="10"
    [scrollable]="true"
    scrollHeight="flex"
    [rowsPerPageOptions]="[10,20,50,100]"
    [showCurrentPageReport]="true"
    paginatorDropdownAppendTo="body"
    
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    >
      <ng-template #caption>
        <div class="flex items-center justify-between">
          <span class="text-xl font-bold">Unidades de Medida</span>

          <p-iconfield iconPosition="left" class="w-20rem">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>

            <input type="text" pInputText placeholder="Buscar por descripción, código..."
              (input)="dt2.filterGlobal($any($event.target).value, 'contains')" />
            <p-splitbutton *ngIf="puedeCrear()" class="ml-2" (onClick)="showDialog()" icon="pi pi-plus" label="Nuevo"
              [model]="items" />
          </p-iconfield>

        </div>

      </ng-template>
      <ng-template #header>
        <tr>
          <th>#</th>
          <th>Descripción</th>
          <th>Siglas</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template #body let-item let-rowIndex="rowIndex">

        <tr *ngIf="loading">
          <td><p-skeleton width="2rem"></p-skeleton></td>
          <td><p-skeleton width="10rem"></p-skeleton></td>
          <td><p-skeleton width="6rem"></p-skeleton></td>
          <td><p-skeleton width="10rem"></p-skeleton></td>
          <td><p-skeleton width="8rem"></p-skeleton></td>
        </tr>

        <tr *ngIf="!loading">
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ item.descripcion }}</td>
          <td><p-tag [value]="item.siglas" severity="secondary" /></td>
          <td><p-tag [value]="item.estado == 1 ? 'Activo' : 'Inactivo'" badgeSize="xlarge"
              [severity]="item.estado == 1 ? 'success' : 'danger'" /> </td>
          <td>
            <div class="flex gap-2">

              <p-confirmpopup />
              <p-button icon="pi pi-eye" pTooltip="Ver detalle" [rounded]="true" [outlined]="true"
                (onClick)="showDialogDetalle(item)" severity="info"></p-button>
              <p-button icon="pi pi-pencil" pTooltip="Editar" [rounded]="true" [outlined]="true"
                (onClick)="showDialogEditar(item)" severity="info"></p-button>
              <p-button [icon]="item.estado == 1 ? 'pi pi-trash' : 'pi pi-check'"
                [severity]="item.estado == 1 ? 'danger' : 'success'"
                [pTooltip]="item.estado == 1 ? 'Eliminar' : 'Activar'" [rounded]="true" [outlined]="true" (onClick)="item.estado == 1
    ? ConfirmacionAnular($event, item)
    : ConfirmacionActivar($event, item)">
              </p-button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="14">
            <div class="flex flex-col items-center justify-center py-6 text-gray-500">
              <i class="pi pi-inbox text-4xl mb-3"></i>
              <span class="text-lg font-semibold">No hay unidades de medida registradas</span>
              <span class="text-sm">Intenta crear una nueva</span>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #footer>
        <tr>
          <td colspan="14">Total datos registrados: {{ unidadesMedida ? unidadesMedida.length : 0 }} unidades de
            medida.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-toast />

  <app-registro-unidad-medida-page [(visible)]="visible" (onRegistroExitoso)="refrescarLista()" />
  <!-- <app-detalle-unidad-medida-page [(visibleDetalle)]="visibleDetalle" [detalle]="detalleUnidadMedidaPage" />
  <app-editar-unidad-medida-page [(visibleEditar)]="visibleEditar" (onEditarExitoso)="refrescarLista()"
  [unidadMedida]="detalleUnidadMedidaPage" /> -->
  